.show-container {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: center;
    min-width: 1300px;
}

.show-ad-container {
    width: inherit;
    min-width: 1000px;
    height: 50px;
}

.show-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    height: 800px;
    width: 1250px;
    /* min-width: 1000px; */
}


.show-details-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: inherit;
}

.show-details-middle {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 350px;
    height: inherit
}

.show-details-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 270px;
    height: inherit
}

.show-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 500px;
}

.show-img-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 450px;
}
.show-img-main img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.show-img-sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    /* height: 50%; */
}

.show-img-sub {
    width: 170px;
    height: 150px;
    border: 1px solid;
    border-radius: 7px;
    cursor: pointer;
}

.show-img-sub img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.show-product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 80%;
    width: 350px
}

.show-details-title {
    width: 100%;
    border-bottom: 1px solid;
    font-weight: bold;
    font-size: x-large;

}

.show-details-title h2 {
    margin-top: 0;
}
.show-details-price{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
    border-bottom: 1px solid;
    font-size: xx-large;
}

.show-details-price h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-details-description{
    width: 100%;
    min-height: 200px;
    font-size: x-large;
}


.show-buy-menu-main{
    height: 560px;
    width: 230px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.show-buy-menu-main h2{
    margin-top: 20px;
    padding-left: 12px;
}

.show-buy-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 0;
    padding-left: 7px;
    padding-right: 5px;
    height: 40%;
}

.show-buy-content li{
    font-size: 17px;
}

.show-buy-shipping {
    padding-left: 10px;
}

.show-buy-shipping h3 {
    color: rgb(228, 161, 36);
}


.show-buy-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

.show-buy-buttons button{
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    /* padding: 5px 10px; */
    text-decoration: none;
    color: black;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
    height: 30px;
    font-size: 18px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

.show-buy-info {
    padding-left: 10px;
}

.show-buy-cart {
    background-color: rgb(240, 240, 102);
}

.show-buy-cart:hover {
    background: #e0e031;
}

.show-buy-now {
    background: rgb(236, 124, 84);
}

.show-buy-now:hover {
    background: rgb(8, 121, 8)
}

