.footer {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    width: inherit;
    min-width: 1100px;
    height: 90px;
    background: beige;
    margin-top: 25px;
}

.link-icons {
    display: flex;
    align-items: center;
    height: inherit;
    gap: 20px;
}

.link-icons a {
    color: black;
}

.link-icons a img {
    height: 70px;
}

