
.header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    background: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 10px;
    padding-right: 15px;
}

.header-options{
    display: flex;
    align-items: center;
    height: inherit;
}



.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    list-style: none;
    padding: 0;
    cursor: pointer;    
}

.user-icon{
    font-size: 35px;
}

.user a {
    text-decoration: none;
}

.user:hover {
    background: rgb(207, 207, 185);
}

.user-menu {
    display: none;
}


.user:hover .user-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: beige;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    right: 17px;
}

.user:hover .user-menu a {
    display: block;
    color: black;
    
}

.new-menu {
    list-style: none;
    padding: 0;
    font-size: 30px;
}

.new-menu a{
    text-decoration: none;
}

.new-menu div {
    display: none;
}

.new-menu:hover li div {
    display: flex;
    position: absolute;
    right: 10px;
    font-size: 15px;
    padding-bottom: 2px;
}