.navbar-container {
    height: 100px;
    width: inherit;
    min-width: 700px;
    border: 1px dashed red
}

.navbar-top {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    background: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 10px;
    padding-right: 30px;
}

.navbar-top-middle {
    height: inherit;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
}

.navbar-top-right{
    display: flex;
    align-items: center;
    height: inherit;
    gap: 25px;
}

/* search bar */
.navbar-top-middle form{
    height: 40px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.navbar-top-middle form input {
    height: 95%;
    width: 100%;
    border-radius: 10px;
    border: none;
    margin: 0;
}

.navbar-top-middle form button {
    height: 100%;
    width: 50px;
    border: none;
    border-radius: 7px;
    margin-right: 5px;
    margin: 0;
    background-color: rgb(175, 167, 167);
    cursor: pointer;
    
}


.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    list-style: none;
    padding: 0;
    cursor: pointer;    
}




.user:hover {
    background: rgb(207, 207, 185);
}

/* User drop down */
.user-menu {
    display: none;
    border: 1px solid black;
    background-color: beige;
    border-radius: 3px;
    padding-right: 10px;
    padding-left: 10px;
    
}

.user-menu a {
    text-decoration: none;
    color: black;
}

.user-icon{
    font-size: 40px;
}

.cart-icon {
    font-size: 40px;
    text-decoration: none;
    color: black;
}


.user:hover .user-menu {
    display: block;
    position: absolute;
}


/* user sign up */
.new-menu {
    padding: 0;
}

.new-menu div {
    display: none;
}

.new-menu:hover li div {
    display: block;
    position: absolute;
    font-size: 15px;
    padding-bottom: 2px;
}

/* login link */
.new-menu-login {
    font-weight: bold;
    color: black;
}