/* .home {
    color: black;
    text-decoration: none;
} */

.header{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}