.login-container {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    gap: 30px;
    border: 2px solid red;
    border-radius: 10px;
    overflow: hidden;
}

.login-container h2 {
    margin-top: 17px;
    margin-bottom: 0px;
}

.login-container label {
    display: flex;
    flex-direction: column;

}

.signup-form button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    background: #ffff00;
    padding: 8px;
    border-radius: 1em;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-form button:hover {
    background: #e0e031;
}

.create-account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account button {
    width: 250px;
    background-color: rgb(211, 208, 208);
    outline: 2px, solid black;
}

.create-account button:hover {
    background: grey;
}

.create-account p {
    position: relative;
  }
  
.create-account p::before,
.create-account p::after {
content: '';
position: absolute;
height: 1px;
width: 90px;
background-color: black;
}

.create-account p::before {
top: 50%;
left: -95px;
transform: translate(0, -50%);
}

.create-account p::after {
top: 50%;
right: -95px;
transform: translate(0, -50%);
}
