.product-background {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    min-width: 700px;
    padding: 0;
    margin: 0;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0;
    min-width: 805px;
    max-width: 1050px;
    gap: 10px;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 450px;
    margin-bottom: 40px;
}

.product-info-top{
    width: inherit;
    height: 60%;
}

.product-img {
    height: 100%;
    width: 100%;
    background: pink;
}

.product-info-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: inherit;
    height: 40%;
    font-size: 20px;
}

.product-img img {
    height: inherit;
    width: inherit;
}

