/* TODO: Add sitewide styles */
body {
    padding: 0;
    margin: 0;
}
.home {
    height: inherit;
    width: 170px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.logo {
  width: inherit;
  height: 65px;
  padding: 0;
  margin: 0;
}