.cart-item-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-width: 700px;
}

.cart-item {
    display: flex;
    gap: 15px;
    min-width: 700px;
    width: 800px;
}

.cart-item-image {
    height: 200px;
    width: 260px;
    object-fit: cover;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}
.cart-item-menu {
    display: flex;
    gap: 10px;
}