.cart-index-container {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    width: 100vw;
    min-width: 1200px;
    margin-top: 50px;
}

.cart-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    height: 200px;
    margin-top: 85px;
}

.cart-total button {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(240, 240, 102);
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
    height: 35px;
    width: inherit;
    cursor: pointer;
    font-weight: bold;
}
.cart-total button:hover {
    background: #e0e031;
}