.cart-item {
    display: flex;
    gap: 15px;
    min-width: 700px;
    width: 800px;
    border: 1px dashed blue;
}

.cart-item-image {
    height: 200px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}
.cart-item-menu {
    display: flex;
    gap: 10px;
}