.create-review-container {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1000px;
}

.create-review-product-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.create-review-product-details img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.create-review-form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.create-review-form form{
    display: flex;
    flex-direction: column;
    /* width: inherit; */
    gap: 10px;
}

.create-review-form form label {
    display: flex;
    flex-direction: column;
}


.create-headline-input {
    height: 32px;
    padding: 0;
    margin: 0;
}

.create-body-input {
    padding: 0;
    margin: 0;
    max-width: 500px;
    min-width: 500px;
    min-height: 100px;
}

.create-display-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.create-display-name-input {
    height: 25px;
    width: 442px;
}

.create-author-icon {
    font-size: 50px;
}

.create-review-rating {
    display: flex;
}

.create-review-rating input[type=radio] {
    display: none;
}

.star {
    font-size: 50px;
    cursor: pointer;
}

.review-submit {
    display: flex;
    justify-content: end;
}

.review-submit button {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(240, 240, 102);
    color: black;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
    height: 35px;
    width: 115px;
    cursor: pointer;
    font-weight: bold;

}



