.review-details {
    display: flex;
    flex-direction: column;
    width: 550px;
    gap: 40px;
}

.review-details button {
    width: 75px;
    height: 25px;
    border-radius: 10px;
    border: .5px;
}

.review-container {
    display: flex;
    padding-left: 50px;
}