.login-container {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    gap: 30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.login-container .home {
    margin-top: 0px;
    margin-bottom: 15px;
}

.login-container form h2 {
    margin-top: 10px;
    margin-bottom: -15px;
    font-size: 35px;
}

.login-container .home .logo{
    height: 100px;
}

.login-container label {
    display: flex;
    flex-direction: column;
}

.login-container form input{
    height: 25px;
}

.login-container button {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    /* padding: 5px 10px; */
    text-decoration: none;
    background-color: rgb(240, 240, 102);
    color: black;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.login-container button:hover {
    background: #e0e031;
}

.create-account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account button {
    width: 340px;
    height: 40px;
    background-color: rgb(211, 208, 208);
    border-radius: 10px;
    border: none;
}

.create-account button:hover {
    background: grey;
}

.create-account p {
    position: relative;
    /* font-size: 17px; */
}
  
.create-account p::before,
.create-account p::after {
content: '';
position: absolute;
height: 1px;
width: 110px;
background-color: black;
}

.create-account p::before {
top: 50%;
left: -120px;
transform: translate(0, -50%);
}

.create-account p::after {
top: 50%;
right: -120px;
transform: translate(0, -50%);
}
