.signup-container {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.signup-container .home {
    margin-top: 0px;
    margin-bottom: 15px;
}

.signup-container .home .logo{
    height: 100px;
}

.signup-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.signup-form form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.signup-label {
    display: flex;
    flex-direction: column;
}

.signup-form button {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    /* padding: 5px 10px; */
    text-decoration: none;
    background-color: rgb(240, 240, 102);
    color: black;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease; 
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.signup-form button:hover {
    background: #e0e031;
}

.input-container input{
    height: 25px;
}